---
import "../../styles/globals.css";
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Function to format date as "Mar 3"
function formatDate(date: Date): string {
  const options: Intl.DateTimeFormatOptions = { month: 'short', day: 'numeric' };
  return date.toLocaleDateString('en-US', options);
}

// Function to calculate reading time
function getReadingTime(content: string): number {
  const wordsPerMinute = 200;
  const wordCount = content.split(/\s+/).length;
  return Math.ceil(wordCount / wordsPerMinute);
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const readingTime = getReadingTime(post.body);
---

<Layout title={post.data.title}>
  <article class="blog-container mb-10">
    <h1 class="text-4xl font-bold mb-2">{post.data.title}</h1>
    <p class="text-gray-300 font-medium opacity-50 mb-4">{formatDate(post.data.date)} · {readingTime}min</p>
    <div class="prose">
      <Content />
    </div>
  </article>
</Layout>