---
import "../../styles/globals.css";
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import LikeButton from '../../components/LikeButton';
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article class="blog-container mb-10">
    <h1 class="text-4xl font-bold mb-2">{post.data.title}</h1>
    <p class="text-gray-300 font-medium opacity-50 mb-4">{post.data.date}</p>
    <div class="prose">
      <Content />
    </div>
    <LikeButton client:load />
  </article>
</Layout>